
<div class="container">
        <div class="row">
            <div class="col">
                <form #f="ngForm" >
                 {{f.value | json}}
                <div class="form-group">
                    <label for="">Username::</label>
                    <input ngModel name="myusername" minlength="4" #username="ngModel" pattern="admin"
                     type="text" class="form-control" placeholder="Enter the Username" required>

                     <div *ngIf="username.touched && !username.valid"
                     class="alert alert-danger"> ** Please Enter the Username 
                        <div *ngIf="username.errors?.minlength"> ** Please enter the minimum username {{username.errors?.minlength?.requiredLength}} character
                        </div>

                        <div *ngIf="username.errors?.pattern">*Please Enter Apprpriate pattern

                        </div>

                     </div>

                </div>

                <div class="form-group">
                    <label for="">Comment::</label>
                    <textarea ngModel #comment="ngModel" class="form-control" placeholder="Enter the comment" name="comment" id="" cols="30" rows="5" required>
                    </textarea>

                    <div class="alert alert-danger"
                     *ngIf="comment.touched && comment.invalid">** Please enter the comment 
                    </div>
                </div>

                <div class="checkbox">
                    <label for="check1">
                      <input type="checkbox" id="check1"
                      ngModel name="issubscribed"  
                      #mail="ngModel" required> I Agree All the Terms & Conditions.
                    </label>                            
                </div>

                <button [disabled]="!f.valid" class="btn btn-outline-success">Submit</button>
            </form>
            </div>
        </div>
</div>
