<p>post works!</p>

<label for="">Title::</label>
<input #inputtitle type="text" placeholder="Enter the Title"><br><br>
<label for="">Body::</label>
<input #inputbody type="text" placeholder="Enter the Body"><br><br>
<button (click)="onSend(inputtitle.value,inputbody.value)">Send</button>

<hr>
<table border="1px">
    <thead>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of posts">
            <td> {{item.id}} </td>
            <td> {{item.title}} </td>
            <td> {{item.body}} </td>
        </tr>
    </tbody>
</table>