
<h2>My First Angular Application </h2>

<!-- <app-employee></app-employee> -->
<!-- <app-string-interpolation></app-string-interpolation> 
<-->

<!-- <app-property-binding></app-property-binding> -->
<!-- <app-stylebinding></app-stylebinding> -->
<!-- <app-classbinding></app-classbinding> -->
<!-- <app-eventbinding1></app-eventbinding1> -->
<!-- <app-eventbinding2></app-eventbinding2> -->
<!-- <app-eventbinding3></app-eventbinding3> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-switchdirective></app-switchdirective> -->
<!-- <app-parent1 [AppParentData]="globalMsg" ></app-parent1> -->
<!-- <app-parent2></app-parent2> -->
<!-- <app-parent3></app-parent3> -->
<!-- <app-inbuild-pipe></app-inbuild-pipe> -->
<app-custompipe></app-custompipe>