<p>property-binding works!</p>

 <!-- 
    - if u want bind property dynamically to any html attribute/directives/custom attribute 
    - u can apply any html tags attribute 
    -syntax =>  [attribute/directives/custom attribute]="PropertyName"
-->

<input type="text" [value]="name"> <br><br>

<img id="myimg" class="img1" [src]="imgUrl" alt=""> <br><br>

<!-- <table border="1px">
    <tr>
        <td colspan="2">One</td>
    </tr>
    <tr>
        <td>Two</td>
        <td>Three</td>
    </tr>
</table> -->

<table border="1px">
    <tr>
        <td [attr.colspan]="colCount">One</td>
    </tr>
    <tr>
        <td>Two</td>
        <td>Three</td>
    </tr>
</table>
<br><br>

<!-- string interpolation VS Property Binding -->

<div hidden=" {{ishidden}} ">
    Display the text using String interpolation 
</div>

<div [hidden]="ishidden">
    Display the text using Property Binding
</div>
